@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html {
  font-size: 16px;
}
body {
  background: #e5e5e5;
}
.nav-font {
  font-family: "Roboto", sans-serif;
}
.header-text-1 {
  color: #fa804c;
  font-size: 3rem;
}
.header-text-2 {
  color: rgb(27, 10, 104);
  font-size: 3rem;
}
.btn-color {
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
}
